head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1')

	title Front-End Boilerplate basead in Atomic Web Design
	meta(name='description', content='')
	meta(name='format-detection', content='telephone=no')
	meta(name='theme-color', content='#0562DC')

	link(href='stylesheet/style.css', rel='stylesheet')
	script(src="javascript/vendors.js")
