	//
// Functions
//
// 1. Set PX to REM ()
// 2. Font face ()
//
// ===============================================================

//
// 1. Set PX to REM ()
// HTML font-size: 62.5%;
// -----------------------------------

set-font-size(value, lineHeight = '') {
	font-size: value; /* add PX (or original value) as backup */

	if (value is inherit) {
	/* do nothing, "inherit" has no unit */
	} else {
    	font-size: remify(value);

	    if (lineHeight is '') {
	        /* do nothing, "inherit" has no unit */
	    } else {
	  		line-height: remify(lineHeight);
	    }
  	}
}

remify(value) { /* separate mixin, so it can be used elsewhere */
	u = unit(value);

	if (u is 'px') {
    	return unit(value/16, 'rem');
  	} else {
    	return unit(value, u);
  	}
}

//
// 2. Font face ()
// --------------------------------------------------

font-url(file)
	return file

webfont(family, file, weight = 'normal', style = 'normal', hack-chrome-windows = false)
  	@font-face
	    font-family family
	    src url(font-url(file + '.eot'))
	    src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
	        url(font-url(file + '.woff')) format('woff'),
	        url(font-url(file + '.ttf')) format('truetype'),
	        url(font-url(file + '.svg#'+ family)) format('svg')
	    font-weight weight
	    font-style style

	if hack-chrome-windows
		@media screen and (-webkit-min-device-pixel-ratio:0)
			@font-face
				font-family family
				src url(font-url(file + '.svg#'+ family)) format('svg')

